body{
	background-color: #fff;
}
<<<<<<< HEAD
.imageEnfant
{
	height:10%;
position:fixed;

}

=======

a.currentMenu{
  background:#4b4b4b;
  color: white;
}
.navbar-default .navbar-nav > li > a
{
	color:#777;
}
>>>>>>> 2df3880feabb76583a214c328f57af36022a3412
