body{
	background-color: #EAF2F1;
}
a.currentMenu{
background:#f0f0f0;
}
a.menu{
	font-size: 18px;
}

.imageEnfant
{
	height:10%;
position:fixed;
right:5%;
top  :10%;

}

#pageRules
{
	position:static;
	margin-left:100;
	text-align: left;
	
	
	
}

#centerImage
{
	display: block;
    margin-left: auto;
    margin-right: auto ;
	
}

	
#map
{
	height:80%;
	width:80%;
}

