body{
	background-color: #fff;
}
a.currentMenu{
background:#f0f0f0;
}
a.menu{
	font-size: 18px;
}

.imageEnfant
{
	height:10%;
position:fixed;
right:5%;
top  :10%;

}

img.centerImage
{
	 margin-left: 100px;	
	
}